html { font-size: 1.2em; }

body {
  font-family: "Libertinus Serif", Palatino, serif;
  line-height: 1.40;
}

.blog-title {
  font-weight: bold;
}

dt {
  font-style: italic;
}

ul.posts {
  padding-left: 0px;
}
.posts h2 {
  margin-bottom: 0.1em;
}

ul.posts > li {
  list-style: none;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline;
  margin: 0 1.5em 0 0;
  font-feature-settings: "smcp" on;
}

img.portrait {
  float: left;
  margin: 10px 20px 20px 0px;
}

article {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto; 
  box-shadow: 0 0.3em 1em #000; 
  padding: 10px 20px;
  line-height: 1.5em;
}

footer {
  text-align: center;
}

a.anchor {
  float: left;
  font-size: 0.8em;
  text-decoration: none;
}

a {
  text-decoration: none;
  text-decoration-color: initial;
  text-transform: lowercase;
  font-feature-settings: "smcp" on;
  font-style: normal;
  hyphens: none;
}

div.advice {
  padding: 5px 0px;
}

div.advice > p {
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 2em;
}

.smallcaps {
  font-feature-settings: "smcp" on;
  font-style: normal;
  text-transform: lowercase;
}

h1, h2, h3 {
  font-family: "Libertinus Sans", sans-serif;
  font-feature-settings: "smcp" on;
  text-decoration: none;
  text-transform: lowercase;
  font-style: normal;
  hyphens: none;
}

h1 code, h2 code, h3 code {
  margin: 0.1em;
  font-size: 1em;
}

pre.source {
  padding: 20px;
  box-shadow: 0 0.1em 0.3em #000; 
  font-size: 1em;
  line-height: 1.2em;
}

ul.arrows, ol.circled {
  padding-left: 2.5rem;
}

ul.arrows > li:before {
  position: absolute;
  margin-left: -2.5rem;
  content: "➞ ";
}

ul.arrows > li {
  list-style: none;
}

ol.circled > li {
  list-style: none;
}

ol.circled > li:before {
  position: absolute;
  margin-left: -2.5rem;
  content: attr(data-num-glyph);
}

.circled-ref {
  font-family: "Libertinus Serif", serif;
}

pre.good {
  background-color: #dcedc8;
}

pre.bad {
  background-color: #ffe6d8;
}

figure p {
  text-align: center;
}
figcaption {
  font-style: italic;
  text-align: center;
  font-size: smaller;
}

.github-link::before {
  background-size: 1em 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-right: 5px;
}

#next-prev-nav {
  min-height: 2em;
}
#newer {
  float: left;
}
#older {
  float: right;
}

/* light theme */
a {
  color: #000;
}
body {
  background-color: #fffff8;
}
.github-link::before {
  background-image: url(/images/GitHub-Mark-32px.png);
}
/* end of light theme */

@media(prefers-color-scheme: dark) {
a {
  color: #d8dee9;
}

body {
  color: #eceff4;
  background-color: #2e3440;
}

pre.good {
  color: black;
}

pre.bad {
  color: black;
}

.github-link::before {
  background-image: url(/images/GitHub-Mark-Light-32px.png);
}

figure.grayscale-diagram svg {
  filter: invert(100%);
}
}
