{{- define "header" -}}
<header>
  <nav>
    <ul>
      <li><a class="blog-title" href="/index.html">mmap(blog)</a></li>
      <li><a href="/posts.html">Posts</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/feed.xml">Atom Feed</a></li>
    </ul>
  </nav>
</header>
{{- end -}}