{{- define "post" -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="author" content="Roman Kashitsyn">
  <meta name="keywords" content="{{ StringsJoin .Keywords "," }}"/>
  {{ if .Subtitle -}}
  <meta name="description" content="{{ .Subtitle }}"/>
  {{- end }}
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/tufte.css">
  <link rel="icon" href="/images/favicon.svg">
  <link rel="mask-icon" href="/images/mask-icon.svg" color="#000000">
  <link rel="alternate" type="application/atom+xml" href="/feed.xml">
  <link rel="canonical" href="{{ .AbsoluteURL }}">
</head>
<body>
<article>
{{- template "header" -}}
<h1 class="article-title"><a href="{{ .URL }}">{{ .Title }}</a></h1>
<p class="publish-date">
  <span title="First published">✏ <span itemprop="datePublished">{{ FormatDate .CreatedAt }}</span></span>
  &nbsp;
  <span title="Last modified">✂ <span itemprop="dateModified">{{ FormatDate .ModifiedAt }}</span></span>
</p>

{{- if .Toc -}}
<hr>
<ul class="toc toc-level-1">
{{- range .Toc -}}
  <li class="toc toc-level-1">
    <a href="#{{ .Id }}">{{ .Title }}</a>
    {{- if .Subsections -}}
    <ul class="toc toc-level-2">
    {{- range .Subsections -}}
      <li class="toc toc-level-2">
      <a href="#{{ .Id }}">{{ .Title }}</a>
      </li>
    {{- end -}}
    </ul>
    {{- end -}}
  </li>
{{- end -}}
</ul>
<hr>
{{- end -}}

{{ .Body }}

<div id="next-prev-nav">
  {{- if .PrevPost -}}
    <div id="newer"><a href="{{ .PrevPost.URL }}"> ←{{ .PrevPost.Title }}</a></div>
  {{- end -}}
  {{- if .NextPost -}}
    <div id="older"><a href="{{ .NextPost.URL }}">{{ .NextPost.Title }}→ </a></div>
  {{- end -}}
</div>
<hr>
{{- template "footer" -}}
</article>
</body>
</html>
{{- end -}}
