{{- define "footer" -}}
<footer>
  <span>&copy;Roman Kashitsyn</span>&nbsp;
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
     style="vertical-align: text-top;"
     title="This work is licensed under a Creative Commons Attribution 4.0 International License">
    <img alt="Creative Commons License"
        style="border-width:0;width:80px;height:15px;text-decoration:none;"
        src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
  </a>
  <br>
  <a class="github-link" href="https://github.com/roman-kashitsyn/mmapped.blog">Source Code</a>
</footer>
{{- end -}}