{{- define "page" -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="author" content="Roman Kashitsyn">
  <title>{{ .Title }}</title>
  <link rel="preload" href="/fonts/LibertinusSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LibertinusSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LibertinusSerif-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LibertinusSerif-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/YanoneKaffeesatz-Regular.otf" as="font" type="font/otf" crossorigin>
  <link rel="stylesheet" href="/css/tufte.css">
  <link rel="icon" href="/images/favicon.svg">
  <link rel="mask-icon" href="/images/mask-icon.svg" color="#000000">
</head>
<body>
<article>
{{- template "header" -}}
<h1 class="article-title"><a href="{{ .URL }}">{{ .Title }}</a></h1>
<hr>
{{ .Body }}
<hr>
{{- template "footer" -}}
</article>
</body>
</html>
{{- end -}}
