{{- define "post-attributes" -}}
<span class="post-attrs">
  <span title="First published">✏ <span itemprop="datePublished">{{ FormatDate .CreatedAt }}</span></span>
  &nbsp;
  <span title="Last modified">✂ <span itemprop="dateModified">{{ FormatDate .ModifiedAt }}</span></span>
  <span class="post-icons">
  {{ if .RedditLink }}
  <a class="icon-link" href="{{ .RedditLink }}" title="Discuss on Reddit" rel="nofollow" target="_blank">
    <img class="reddit-icon" src="/images/Reddit-Icon.svg" alt="Reddit" />
  </a>
  </span>
  {{- end -}}
</span>
{{- end -}}