{{- define "post-attributes" -}}
<span class="post-attrs">
  <span title="First published">✏ <span itemprop="datePublished">{{ FormatDate .CreatedAt }}</span></span>
  &nbsp;
  <span title="Last modified">✂ <span itemprop="dateModified">{{ FormatDate .ModifiedAt }}</span></span>
  <span class="post-icons">
  {{ if .HNLink }}
  <a class="icon-link" href="{{ .HNLink }}" title="Discuss on Hacker News" rel="nofollow" target="_blank">
    <img class="social-icon" src="/images/y18.svg" alt="Hacker News" />
  </a>
  {{- end -}}
  {{ if .RedditLink }}
  <a class="icon-link" href="{{ .RedditLink }}" title="Discuss on Reddit" rel="nofollow" target="_blank">
    <img class="social-icon" src="/images/Reddit-Icon.svg" alt="Reddit" />
  </a>
  {{- end -}}
  {{ if .LobstersLink }}
  <a class="icon-link" href="{{ .LobstersLink }}" title="Discuss on Lobste.rs" rel="nofollow" target="_blank">
    <img class="social-icon lobsters-icon" src="/images/Lobsters-Icon.svg" alt="Lobsters" />
  </a>
  {{- end -}}
  </span>
</span>
{{- end -}}